.App{
    height: 100%;
    margin: 0px;
    padding:0px;
    
    -webkit-backdrop-filter: blur(0.5px);
    backdrop-filter: blur(0.5px);
    overflow: hidden;
}

body{
    background-image: linear-gradient(black, black), url('../public/bg2.jpg') ;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: hue;
}